// Primærfarver
$color-coral: #FDA29B;
$color-coral-dark: #DD8078;     
$color-yellow-dark: #E7AF64;   
$color-yellow: #F0C284;    

// Baggrundsfarver
$color-cream: #FEF9EF;      
$color-beige: #F7E6C0;      
$color-olive: #B4B184;     
$color-dark-green: #4A4A30;

// Tekstfarver
$color-text-blue: #2E4374;
$color-text-green: #535A38;
$color-text-red: #7D2119;

// Neutrale farver
$color-white: #FFFFFF;

// Breakpoints
$tablet-breakpoint: 700px;
$desktop-breakpoint: 1000px;